.navBar {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #070505;
  height: 60px;
  color: white;
  padding: 0 20px;
  transition: all 1s ease;
  cursor: pointer;
  height: 5rem;
  z-index: 1;
}

.navBar:hover {
  background-color: #171517;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
